.demo-trigger-popup {
    padding: 10px;
    width: 300px;
    text-align: center;
    background-color: var(--color-bg-popup);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  }
  .divider-demo {
    box-sizing: border-box;
    width: 560px;
    padding: 24px;
    border: 30px solid rgb(var(--gray-2));
  }