registry=https://registry.npmjs.org/
@simao234430:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
//registry.npmjs.org/:always-auth=true
