registry=https://registry.npmjs.org/
@simao234430:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
//registry.npmjs.org/:always-auth=true
